{%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign color_white_label = 'general.label.white' | t | downcase -%}
{%- assign size_label_list = 'general.label.size' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id -%}
{% assign productTags = product.tags %}
<div class="product-form">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      APP BLOCK TYPE
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when '@app' -%}
        {%- render block -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      VARIANT PICKER BLOCK TYPE
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'variant_picker' -%}
        {%- unless product.has_only_default_variant or block.settings.hide_sold_out_variants and product.available == false -%}
          {%- assign size_chart_page = block.settings.size_chart_page -%}
          {%- assign found_size_option = false -%}

          <product-variants handle="{{ product.handle }}" form-id="{{ product_form_id }}" {% if update_url %}update-url{% endif %} {% if block.settings.hide_sold_out_variants %}hide-sold-out-variants{% endif %} class="product-form__variants" {{ block.shopify_attributes }}>
            {%- for option in product.options_with_values -%}
              {%- assign option_downcase = option.name | downcase -%}
              {%- capture option_id -%}option-{{ section.id }}-{{ template.suffix }}-{{ product.id }}-{{ forloop.index }}{%- endcapture -%}

              {%- assign selector_type = block.settings.selector_mode -%}
              {%- assign variant_image_options = block.settings.variant_image_options | replace: ', ', ',' | downcase | split: ',' -%}

              {%- assign swatch_count = option.values | map: 'swatch' | compact | size -%}

              {%- if swatch_count > 0 and block.settings.color_mode == 'swatch' %}
                {%- assign selector_type = 'swatch' -%}
              {%- endif -%}

              {% if swatch_count == 0 and color_label_list contains option_downcase and block.settings.color_mode != 'none' %}
                {%- assign selector_type = 'swatch' -%}
              {%- endif -%}

              {%- if variant_image_options contains option_downcase -%}
                {%- assign selector_type = 'variant_image' -%}
              {%- endif -%}

              <div class="product-form__option-selector" data-selector-type="{{ selector_type | replace: '_', '-' | escape }}">
                <div class="product-form__option-info {{ size_label_list }} -{{ option_downcase }}-">
                  <span class="product-form__option-name">{{ option.name }}:</span>

                  {%- if selector_type != 'dropdown' -%}
                    <span id="{{ option_id }}-value" class="product-form__option-value">{{ option.selected_value }}</span>
                  {%- endif -%}

                  {%- assign producttypes = product.type | downcase -%} 
                  {%- if size_chart_page != blank and size_label_list contains option_downcase and option.name != 'Bottom Size' -%} {% comment %}   {% endcomment %}
                    {%- assign found_size_option = true -%}
                    <button type="button" is="toggle-button" class="product-form__option-link link text--subdued hidden-phone" aria-controls="product-{{ section.id }}-{{ product.id }}-size-chart-drawer" aria-expanded="false">{{ 'product.general.size_chart' | t }}</button>
                    <button type="button" is="toggle-button" class="product-form__option-link link text--subdued hidden-tablet-and-up" aria-controls="product-{{ section.id }}-{{ product.id }}-size-chart-popover" aria-expanded="false">{{ 'product.general.size_chart' | t }}</button>
                {% elsif size_chart_page != blank and size_label_list contains option_downcase and producttypes contains 'pajama' %} 
                   {%- assign found_size_option = true -%}
                    <button type="button" is="toggle-button" class="product-form__option-link link text--subdued hidden-phone" aria-controls="product-{{ section.id }}-{{ product.id }}-size-chart-drawer" aria-expanded="false">{{ 'product.general.size_chart' | t }}</button>
                    <button type="button" is="toggle-button" class="product-form__option-link link text--subdued hidden-tablet-and-up" aria-controls="product-{{ section.id }}-{{ product.id }}-size-chart-popover" aria-expanded="false">{{ 'product.general.size_chart' | t }}</button>
                 {% else %}
                    <span>.</span>
                    {%- endif -%}
                </div>

                {%- case selector_type -%}
                  {%- when 'variant_image' -%}
                    <div class="variant-swatch-list">
                      {%- for value in option.values -%}
                        {%- assign image = value.variant.featured_media | default: value.variant.product.featured_media -%}

                        <div class="variant-swatch">
                          <input class="variant-swatch__radio visually-hidden" type="radio" name="option{{ option.position }}" form="{{ product_form_id }}" id="{{ option_id }}-{{ forloop.index }}" value="{{ value | escape }}" data-bind-value="{{ option_id }}-value" {% if value == option.selected_value %}checked="checked"{% endif %} aria-label="{{ value | escape }}">
                          <label class="variant-swatch__item" for="{{ option_id }}-{{ forloop.index }}">
                            <span class="visually-hidden">{{ value }}</span>

                            {{- image | image_url: width: image.width | image_tag: loading: 'lazy', sizes: '(max-width: 740px) 64px, 72px', sizes: '64,72,128,144,192,216', class: 'variant-swatch__image' -}}
                          </label>
                        </div>
                      {%- endfor -%}
                    </div>

                  {%- when 'swatch' -%}
                    <div class="color-swatch-list">
                      {%- assign color_swatch_config = settings.color_swatch_config | newline_to_br | split: '<br />' -%}

                      {%- for value in option.values -%}
                        {%- assign color_value_downcase = value | downcase -%}

                        <div class="color-swatch {% if color_white_label == color_value_downcase %}color-swatch--white{% endif %}">
                          <input class="color-swatch__radio visually-hidden" type="radio" name="option{{ option.position }}" form="{{ product_form_id }}" id="{{ option_id }}-{{ forloop.index }}" value="{{ value | escape }}" {% if value == option.selected_value %}checked="checked"{% endif %} data-bind-value="{{ option_id }}-value">
                          <label class="color-swatch__item" for="{{ option_id }}-{{ forloop.index }}" style="{% render 'color-swatch-style', swatch: value.swatch, color_swatch_config: color_swatch_config, value: value %}">
                            <span class="visually-hidden">{{ value }}</span>
                          </label>
                        </div>
                      {%- endfor -%}
                    </div>

                  {%- when 'block' -%}
                    <div class="block-swatch-list">
                      {%- for value in option.values -%}
                        <div class="block-swatch">
                          <input class="block-swatch__radio visually-hidden" type="radio" name="option{{ option.position }}" form="{{ product_form_id }}" id="{{ option_id }}-{{ forloop.index }}" value="{{ value | escape }}" {% if value == option.selected_value %}checked="checked"{% endif %} data-bind-value="{{ option_id }}-value">
                          <label class="block-swatch__item" for="{{ option_id }}-{{ forloop.index }}">{{ value }}</label>
                        </div>
                      {%- endfor -%}
                    </div>

                  {%- when 'dropdown' -%}
                    <div class="select-wrapper">
                      <combo-box initial-focus-selector="[aria-selected='true']" id="{{ option_id }}-combo-box" class="combo-box">
                        <span class="combo-box__overlay"></span>

                        <header class="combo-box__header">
                          <p class="combo-box__title heading h6">{{ option.name }}</p>

                          <button type="button" class="combo-box__close-button tap-area" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
                            {%- render 'icon' with 'close' -%}
                          </button>
                        </header>

                        <div class="combo-box__option-list" role="listbox">
                          {%- for value in option.values -%}
                            <button type="button" role="option" class="combo-box__option-item" value="{{ value | escape }}" aria-selected="{% if value == option.selected_value %}true{% else %}false{% endif %}">{{ value }}</button>
                          {%- endfor -%}
                        </div>

                        <select class="visually-hidden" name="option{{ option.position }}" form="{{ product_form_id }}" data-bind-value="{{ option_id }}-value" aria-label="{{ option.name | escape }}">
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if value == option.selected_value %}selected{% endif %}>{{ value }}</option>
                          {%- endfor -%}
                        </select>
                      </combo-box>

                      <button type="button" is="toggle-button" class="select" aria-expanded="false" aria-haspopup="listbox" aria-controls="{{ option_id }}-combo-box">
                        <span id="{{ option_id }}-value" class="select__selected-value">{{ option.selected_value }}</span>
                        {%- render 'icon' with 'chevron' -%}
                      </button>
                    </div>
                {%- endcase -%}
              </div>
            {%- endfor -%}

            <noscript>
              <label class="input__block-label" for="product-select-{{ section.id }}-{{ product.id }}">{{ 'product.form.variant' | t }}</label>

              <div class="select-wrapper">
                <select class="select" autocomplete="off" id="product-select-{{ section.id }}-{{ product.id }}" name="id" form="{{ product_form_id }}">
                  {%- for variant in product.variants -%}
                    <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
                  {%- endfor -%}
                </select>

                {%- render 'icon' with 'chevron' -%}
              </div>
            </noscript>
          </product-variants>
        {%- endunless -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      LINE ITEM PROPERTY
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'line_item_property' -%}
        {%- if block.settings.label != blank -%}
          {%- case block.settings.type -%}
            {%- when 'text' -%}
              {%- if block.settings.allow_long_text -%}
                <div class="product-form__line-item-property" {{ block.shopify_attributes }}>
                  <label class="input__block-label" for="line-item-{{ section.id }}-{{ block.id }}">{{ block.settings.label | escape }}:</label>
                  <textarea {% if block.settings.required %}required{% endif %} id="line-item-{{ section.id }}-{{ block.id }}" form="{{ product_form_id }}" class="input__field input__field--textarea" name="properties[{{ block.settings.label | escape }}]"></textarea>
                </div>
              {% else %}
                <div class="product-form__line-item-property" {{ block.shopify_attributes }}>
                  <label class="input__block-label" for="line-item-{{ section.id }}-{{ block.id }}">{{ block.settings.label | escape }}:</label>
                  <input {% if block.settings.required %}required{% endif %} id="line-item-{{ section.id }}-{{ block.id }}" form="{{ product_form_id }}" type="text" class="input__field" name="properties[{{ block.settings.label | escape }}]">
                </div>
              {%- endif -%}

            {%- when 'checkbox' -%}
              <div class="product-form__line-item-property" {{ block.shopify_attributes }}>
                <div class="checkbox-container">
                  <input type="hidden" form="{{ product_form_id }}" class="checkbox" name="properties[{{ block.settings.label | escape }}]" value="{{ block.settings.unchecked_value | escape }}">
                  <input type="checkbox" form="{{ product_form_id }}" class="checkbox" name="properties[{{ block.settings.label | escape }}]" id="line-item-{{ section.id }}-{{ block.id }}" value="{{ block.settings.checked_value | escape }}">
                  <label for="line-item-{{ section.id }}-{{ block.id }}">{{ block.settings.label | escape }}</label>
                </div>
              </div>
          {%- endcase -%}
        {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      TEXT
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'text' -%}
        {% if block.settings.text != blank %}
          <div class="product-form__text" {{ block.shopify_attributes }}>
            {{- block.settings.text -}}
          </div>
        {%- endif -%}

      {%- when 'others_color_options' -%} 
      {% render 'other-color' %}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      IMAGE
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'image' -%}
      {% if block.settings.image != blank %}
        <div class="product-form__image product-form__image--{{ block.settings.image_alignment }}" {{ block.shopify_attributes }}>
          {%- capture image_sizes -%}{{ block.settings.image_width }}, {{ block.settings.image_width | times: 2 }}, {{ block.settings.image_width | times: 3 }}{%- endcapture -%}
          {%- capture sizes_attribute -%}{{ block.settings.image_width }}px{%- endcapture -%}
          {%- capture style_attribute -%}max-width: {{ block.settings.image_width }}px{%- endcapture -%}
          {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes_attribute, widths: image_sizes, style: style_attribute -}}
        </div>
      {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      BUTTON
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'button' -%}
        {% if block.settings.link != blank and block.settings.text != blank %}
          <div class="product-form__button" {{ block.shopify_attributes }}>
            {%- if block.settings.background == 'rgba(0,0,0,0)' -%}
              {%- assign button_background = settings.primary_button_background -%}
            {%- else -%}
              {%- assign button_background = block.settings.background -%}
            {%- endif -%}

            {%- if block.settings.text_color == 'rgba(0,0,0,0)' -%}
              {%- assign button_text_color = settings.primary_button_text_color -%}
            {%- else -%}
              {%- assign button_text_color = block.settings.text_color -%}
            {%- endif -%}

            {%- capture button_background_rgb -%}{{ button_background.red }}, {{ button_background.green }}, {{ button_background.blue }}{%- endcapture -%}
            {%- capture button_text_color_rgb -%}{{ button_text_color.red }}, {{ button_text_color.green }}, {{ button_text_color.blue }}{%- endcapture -%}

            <a href="{{ block.settings.link }}" class="button button--primary {% if block.settings.stretch %}button--full{% endif %}" style="--primary-button-background: {{ button_background_rgb }}; --primary-button-text-color: {{ button_text_color_rgb }}">{{ block.settings.text | escape }}</a>
          </div>
        {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      CUSTOM LIQUID
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'liquid' -%}
        {% if block.settings.liquid != blank %}
          <div class="product-form__custom-liquid" {{ block.shopify_attributes }}>
            {{- block.settings.liquid -}}
          </div>
        {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      QUANTITY SELECTOR
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'quantity_selector' -%}
        {%- if request.page_type != 'password' and product.available -%}
          <div class="product-form__quantity" {{ block.shopify_attributes }}>
            <span class="product-form__quantity-label">{{ 'product.form.quantity' | t }}:</span>

            <quantity-selector class="quantity-selector">
              <button type="button" class="quantity-selector__button">
                <span class="visually-hidden">{{ 'cart.general.decrease_quantity' | t }}</span>
                {%- render 'icon' with 'minus-big' -%}
              </button>

              <input type="text" form="{{ product_form_id }}" is="input-number" class="quantity-selector__input" inputmode="numeric" name="quantity" autocomplete="off" min="1" value="1" size="2" aria-label="{{ 'product.form.quantity' | t | escape }}">

              <button type="button" class="quantity-selector__button">
                <span class="visually-hidden">{{ 'cart.general.increase_quantity' | t }}</span>
                {%- render 'icon' with 'plus-big' -%}
              </button>
            </quantity-selector>
          </div>
        {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      PRODUCT DESCRIPTION
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'description' -%}
        {%- if product.description != blank -%}
          <div class="product-form__description rte" {{ block.shopify_attributes }}>
            {{- product.description -}}
          </div>
        {%- endif -%}

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      INVENTORY
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'inventory' -%}
        {%- if product.template_suffix != 'pre-order' and product.available or product.selected_or_first_available_variant.incoming -%}
          <product-inventory form-id="{{ product_form_id }}" {% unless product.selected_or_first_available_variant.available or product.selected_or_first_available_variant.incoming %}hidden{% endunless %} class="product-form__inventory-wrapper" {{ block.shopify_attributes }}>
            {%- if product.selected_or_first_available_variant.available -%}
              {%- if product.selected_or_first_available_variant.inventory_management and product.selected_or_first_available_variant.inventory_policy == 'deny' and product.selected_or_first_available_variant.inventory_quantity <= block.settings.low_inventory_threshold and block.settings.low_inventory_threshold > 0 -%}
                <span class="inventory inventory--low">{{ 'product.form.low_stock_with_quantity_count' | t: count: product.selected_or_first_available_variant.inventory_quantity }}</span>
              {%- else -%}
                {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' and product.selected_or_first_available_variant.inventory_quantity <= 0 and product.selected_or_first_available_variant.requires_shipping -%}
                  {%- if product.selected_or_first_available_variant.incoming and product.selected_or_first_available_variant.next_incoming_date -%}
                    {%- capture next_incoming_date -%}{{ product.selected_or_first_available_variant.next_incoming_date | date: format: 'date' }}{%- endcapture -%}
                    <span class="inventory inventory--low">{{ 'product.form.incoming_stock' | t: next_incoming_date: next_incoming_date }}</span>
                  {%- else -%}
                    <span class="inventory inventory--low">{{ 'product.form.oversell_stock' | t }}</span>
                  {%- endif -%}
                {%- else -%}
                  <span class="inventory inventory--high">{{ 'product.form.in_stock' | t }}</span>
                {%- endif -%}
              {%- endif -%}
            {%- elsif product.selected_or_first_available_variant.incoming -%}
              {%- if product.selected_or_first_available_variant.next_incoming_date -%}
                {%- capture next_incoming_date -%}{{ product.selected_or_first_available_variant.next_incoming_date | date: format: 'date' }}{%- endcapture -%}
                <span class="inventory inventory--low">{{ 'product.form.incoming_stock' | t: next_incoming_date: next_incoming_date }}</span>
              {%- else -%}
                <span class="inventory inventory--low">{{ 'product.form.oversell_stock' | t }}</span>
              {%- endif -%}
            {%- endif -%}

            <script type="application/json">
              {
                {%- for variant in product.variants -%}
                  {%- capture inventory_message -%}
                    {%- if variant.available -%}
                      {%- if variant.inventory_management and variant.inventory_policy == 'deny' and variant.inventory_quantity <= block.settings.low_inventory_threshold and block.settings.low_inventory_threshold > 0 -%}
                        <span class="inventory inventory--low">{{ 'product.form.low_stock_with_quantity_count' | t: count: variant.inventory_quantity }}</span>
                      {%- else -%}
                        {%- if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 and variant.requires_shipping -%}
                          {%- if variant.incoming and variant.next_incoming_date -%}
                            {%- capture next_incoming_date -%}{{ variant.next_incoming_date | date: format: 'date' }}{%- endcapture -%}
                            <span class="inventory inventory--low">{{ 'product.form.incoming_stock' | t: next_incoming_date: next_incoming_date }}</span>
                          {%- else -%}
                            <span class="inventory inventory--low">{{ 'product.form.oversell_stock' | t }}</span>
                          {%- endif -%}
                        {%- else -%}
                          <span class="inventory inventory--high">{{ 'product.form.in_stock' | t }}</span>
                        {%- endif -%}
                      {%- endif -%}
                    {%- elsif variant.incoming -%}
                      {%- if variant.next_incoming_date -%}
                        {%- capture next_incoming_date -%}{{ variant.next_incoming_date | date: format: 'date' }}{%- endcapture -%}
                        <span class="inventory inventory--low">{{ 'product.form.incoming_stock' | t: next_incoming_date: next_incoming_date }}</span>
                      {%- else -%}
                        <span class="inventory inventory--low">{{ 'product.form.oversell_stock' | t }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endcapture -%}

                  "{{ variant.id }}": {{ inventory_message | json }}{% unless forloop.last %},{% endunless %}
                {%- endfor -%}
              }
            </script>
          </product-inventory>
        {%- endif -%}

        {%- when 'Unstitched-stitched' -%}
          {% render 'Unstitched-stitched' %}
    

      {%- comment -%}
      ----------------------------------------------------------------------------------------------------------------
      BUY BUTTONS
      ----------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}
      {%- when 'buy_buttons' -%}
        {%- if request.page_type != 'password' -%}
          {%- assign recipient_feature_active = false -%}

          {%- if product.gift_card? and block.settings.show_gift_card_recipient -%}
            {%- assign recipient_feature_active = true -%}
          {%- endif -%}

          <div class="product-form__buy-buttons" {{ block.shopify_attributes }}>
            {%- form 'product', product, is: 'product-form', id: product_form_id -%}
              {%- if recipient_feature_active -%}
                <gift-card-recipient class="gift-card-recipient">
                  <div class="input input--checkbox">
                    <div class="checkbox-container">
                      <input type="checkbox" class="checkbox" name="properties[__shopify_send_gift_card_to_recipient]" id="product-{{ section.id }}-{{ product.id }}-send-gift-card-to-recipient">
                      <label for="product-{{ section.id }}-{{ product.id }}-send-gift-card-to-recipient" class="text--subdued">{{ 'gift_card.recipient.checkbox' | t }}</label>
                    </div>
                  </div>

                  <div class="gift-card-recipient__fields js:hidden">
                    <div class="input">
                      <input id="product-{{ section.id }}-{{ product.id }}-recipient-email" type="email" class="input__field input__field--text" name="properties[Recipient email]" required value="{{ form.email }}">
                      <label for="product-{{ section.id }}-{{ product.id }}-recipient-email" class="input__label">{{ 'gift_card.recipient.email_label' | t }}</label>
                    </div>

                    <div class="input">
                      <input id="product-{{ section.id }}-{{ product.id }}-recipient-name" type="text" class="input__field input__field--text" name="properties[Recipient name]" value="{{ form.name }}">
                      <label for="product-{{ section.id }}-{{ product.id }}-recipient-name" class="input__label">{{ 'gift_card.recipient.name_label' | t }}</label>
                    </div>

                    <div class="input">
                      <input type="hidden" name="properties[__shopify_offset]" value="" disabled>
                      <input id="product-{{ section.id }}-{{ product.id }}-send-on" type="date" class="input__field input__field--text" pattern="\d{4}-\d{2}-\d{2}" name="properties[Send on]" value="{{ form.send_on }}">
                      <label for="product-{{ section.id }}-{{ product.id }}-send-on" class="input__label">{{ 'gift_card.recipient.send_on_label' | t }}</label>
                    </div>

                    <div class="input">
                      <textarea id="product-{{ section.id }}-{{ product.id }}-recipient-message" rows="4" class="input__field input__field--textarea" name="properties[Message]">{{ form.message }}</textarea>
                      <label for="product-{{ section.id }}-{{ product.id }}-recipient-message" class="input__label">{{ 'gift_card.recipient.message_label' | t }}</label>
                    </div>
                  </div>
                </gift-card-recipient>
              {%- endif -%}

              <input type="hidden" disabled name="id" value="{{ product.selected_or_first_available_variant.id }}">

              <product-payment-container form-id="{{ product_form_id }}" {% if update_url %}id="MainPaymentContainer"{% endif %} class="product-form__payment-container" {{ block.shopify_attributes }}>

                <div class="soldcustomtext  {% if product.selected_or_first_available_variant.available %}hideforsolout{% endif %}"> 
                <p style="margin-bottom: 35px;">Didn't find what you're looking for?</p>
                <a href="https://wa.me/919810220059?text=Hello Team Mulmul, I am intrested in buying this product and I have few Questions. Can you help?Product Title:{{product.title}}-Product URL:{{product.url}} "  target="_blank"> 
          <div class="button-iconw">
                <div class="icon icon_cust">
                   <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="50" height="50"
                        viewBox="0 0 48 48"
                        ><path fill="#fff" d="M4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98c-0.001,0,0,0,0,0h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303z"></path><path fill="#fff" d="M4.868,43.803c-0.132,0-0.26-0.052-0.355-0.148c-0.125-0.127-0.174-0.312-0.127-0.483l2.639-9.636c-1.636-2.906-2.499-6.206-2.497-9.556C4.532,13.238,13.273,4.5,24.014,4.5c5.21,0.002,10.105,2.031,13.784,5.713c3.679,3.683,5.704,8.577,5.702,13.781c-0.004,10.741-8.746,19.48-19.486,19.48c-3.189-0.001-6.344-0.788-9.144-2.277l-9.875,2.589C4.953,43.798,4.911,43.803,4.868,43.803z"></path><path fill="#cfd8dc" d="M24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,4C24.014,4,24.014,4,24.014,4C12.998,4,4.032,12.962,4.027,23.979c-0.001,3.367,0.849,6.685,2.461,9.622l-2.585,9.439c-0.094,0.345,0.002,0.713,0.254,0.967c0.19,0.192,0.447,0.297,0.711,0.297c0.085,0,0.17-0.011,0.254-0.033l9.687-2.54c2.828,1.468,5.998,2.243,9.197,2.244c11.024,0,19.99-8.963,19.995-19.98c0.002-5.339-2.075-10.359-5.848-14.135C34.378,6.083,29.357,4.002,24.014,4L24.014,4z"></path><path fill="#40c351" d="M35.176,12.832c-2.98-2.982-6.941-4.625-11.157-4.626c-8.704,0-15.783,7.076-15.787,15.774c-0.001,2.981,0.833,5.883,2.413,8.396l0.376,0.597l-1.595,5.821l5.973-1.566l0.577,0.342c2.422,1.438,5.2,2.198,8.032,2.199h0.006c8.698,0,15.777-7.077,15.78-15.776C39.795,19.778,38.156,15.814,35.176,12.832z"></path><path fill="#fff" fill-rule="evenodd" d="M19.268,16.045c-0.355-0.79-0.729-0.806-1.068-0.82c-0.277-0.012-0.593-0.011-0.909-0.011c-0.316,0-0.83,0.119-1.265,0.594c-0.435,0.475-1.661,1.622-1.661,3.956c0,2.334,1.7,4.59,1.937,4.906c0.237,0.316,3.282,5.259,8.104,7.161c4.007,1.58,4.823,1.266,5.693,1.187c0.87-0.079,2.807-1.147,3.202-2.255c0.395-1.108,0.395-2.057,0.277-2.255c-0.119-0.198-0.435-0.316-0.909-0.554s-2.807-1.385-3.242-1.543c-0.435-0.158-0.751-0.237-1.068,0.238c-0.316,0.474-1.225,1.543-1.502,1.859c-0.277,0.317-0.554,0.357-1.028,0.119c-0.474-0.238-2.002-0.738-3.815-2.354c-1.41-1.257-2.362-2.81-2.639-3.285c-0.277-0.474-0.03-0.731,0.208-0.968c0.213-0.213,0.474-0.554,0.712-0.831c0.237-0.277,0.316-0.475,0.474-0.791c0.158-0.317,0.079-0.594-0.04-0.831C20.612,19.329,19.69,16.983,19.268,16.045z" clip-rule="evenodd"></path></svg>
                </div>
                <p class="pdppagechaticon"> Connect with our stylists! </p>
                </div></a>
            </div> 
            
            {% assign discounted_price = product.selected_or_first_available_variant.price | times: 0.9 %}
            <p>You will earn <b>{{ discounted_price | money_without_currency }} bliss points</b> on this purchase</p>
          
                <button id="AddToCart" type="submit" is="loader-button" {% unless block.settings.show_payment_button and template.suffix != 'quick-buy-popover' %}data-use-primary{% endunless %} data-product-add-to-cart-button data-button-content="{% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | escape }}{% else %}{{ 'product.form.add_to_cart' | t | escape }}{% endif %}" class="product-form__add-button button {% unless product.selected_or_first_available_variant.available %}button--ternary{% else %}{% if block.settings.show_payment_button and template.suffix != 'quick-buy-popover' %}button--secondary{% else %}button--primary{% endif %}{% endunless %} button--full" {% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}>
                  {%- if product.selected_or_first_available_variant.available -%}
                    {%- if product.template_suffix == 'pre-order' -%}
                      {{- 'product.form.pre_order' | t -}}
                    {%- else -%}
                      {{- 'product.form.add_to_cart' | t -}}
                    {%- endif -%}
                  {%- else -%}
                    {{- 'product.form.sold_out' | t -}}
                  {%- endif -%}
                </button>

                {%- if block.settings.show_payment_button and recipient_feature_active == false and template.suffix != 'quick-buy-popover' -%}
                  {{ form | payment_button }}

                  {%- unless product.selected_or_first_available_variant.available -%}
                    <style>
                      #shopify-section-{{ section.id }} .shopify-payment-button {
                        display: none;
                      }
                    </style>
                  {%- endunless -%}
                {%- endif -%}
              </product-payment-container>

               <div  style="margin-top: 10px;"><b>Free Potli</b> Bag Worth Rs 1000 with this purchase</div>
          {% if product.available %}
              {% if product.tags contains '48 hours' %}
              <div style="margin-top: 5px;"><b>Ships within 48 hours</b></div>
                {% endif %}
                 {% endif %}

           
            {%- endform -%}
             {% render 'gift-box' %}
          </div>
        {%- endif -%}
     
        {%- if template.suffix != 'quick-buy-popover' -%}
          <store-pickup form-id="{{ product_form_id }}" class="product-form__store-availability-container">
            {%- render 'store-availability', product_variant: product.selected_or_first_available_variant -%}
          </store-pickup>
        {%- endif -%}
    {%- endcase -%}
  {%- endfor -%}

  {%- comment -%}
  IMPLEMENTATION NOTE: under rare circumstances, merchant may want to show selectors but hide the add to cart button. This
  is however problematic as elements changed based on this. So if we detect there is no buy buttons block, we add an empty one
  {%- endcomment -%}

  {%- assign buy_buttons_block = section.blocks | where: 'type', 'buy_buttons' | first -%}

  {%- if buy_buttons_block == blank -%}
    {%- form 'product', product, is: 'product-form', id: product_form_id -%}
      <input type="hidden" disabled name="id" value="{{ product.selected_or_first_available_variant.id }}">
    {%- endform -%}
  {%- endif -%}
</div>

{%- if template.suffix == 'quick-buy-drawer' -%}
  <div class="product-form__view-details">
    <a href="{{ product.url }}" class="link text--subdued">{{ 'product.general.view_details' | t }}</a>
  </div>
{%- endif -%}

{%- comment -%}
IMPLEMENTATION NOTE: if during the iteration of the options we have found an option matching a size chart, we add it here
{%- endcomment -%}

<style>
  .sizechartcustom {max-width:600px;}
  .sizechartcustom .table th, .sizechartcustom .table td {
    padding: 7px;  
}
 .sizechartcustom .table tr {
     border-bottom: 1px solid #dad6d0;
 }
 .sizechartcustom .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #dedada;
}
 .sizechartcustom .table-wrapper {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
  .sizechartcustom .rte table th:first-child {padding-left:12px;}
</style>

{%- if found_size_option and size_chart_page != blank -%}
  {%- comment -%}Drawer is for tablet and desktop{%- endcomment -%}
  <drawer-content id="product-{{ section.id }}-{{ product.id }}-size-chart-drawer" class="sizechartcustom drawer drawer--large hidden-phone">
    <span class="drawer__overlay"></span>

    <header class="drawer__header">
      <p class="drawer__title heading h6">Size Chart{%- comment -%}{{ size_chart_page.title }}{%- endcomment -%}</p>

      <button type="button" class="drawer__close-button tap-area" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon' with 'close' -%}
      </button>
    </header>

    <div class="drawer__content drawer__content--padded-start">
      <div class="rte">
     {% comment %}   {{- size_chart_page.content -}} {% endcomment %}
     {% if product.type == 'KURTA SET' or product.type == 'KURTA SETS' or product.type == 'Kurta sets' or product.type == 'Kurta Sets'or product.type == 'Co-ord Set'or product.type == 'Dress' or product.type == 'Shirt' or product.type == 'Top'or product.type == 'Kaftan' or product.type =='Pajama'%}
                   <div>
    <img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/1_cbcfabcd-ccf8-436b-8d16-6b98d565476b.jpg?v=1710570602"> 
                     <img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/2_315bf334-a1a4-46dd-95df-0377c9053204.jpg?v=1710570602">
                   </div>
<!--     <div class="table-responsive">
    <table class="table table-striped">
      <thead>
    	<tr>
      <th scope="col">KURTAS</th>
      <th scope="col" class="table-cell">XS</th>
      <th scope="col" class="table-cell">S</th>
      <th scope="col" class="table-cell">M</th>
      <th scope="col" class="table-cell">L</th>
      <th scope="col" class="table-cell">XL</th>
      <th scope="col" class="table-cell">XXL</th>
      <th scope="col" class="table-cell">XXXL</th>
    </tr>
   </thead> 
  <tbody>
    <tr>
      <th scope="row">UK</th>
      <td class="table-cell">8</td>
      <td class="table-cell">10</td>
      <td class="table-cell">12</td>
      <td class="table-cell">14</td>
      <td class="table-cell">16</td>
      <td class="table-cell">18</td>
      <td class="table-cell">20</td>
    </tr>
    <tr>
      <th scope="row">Bust</th>
      <td class="table-cell">37</td>
      <td class="table-cell">39</td>
      <td class="table-cell">41</td>
      <td class="table-cell">43</td>
      <td class="table-cell">45</td>
      <td class="table-cell">49</td>
      <td class="table-cell">51</td>
    </tr>
    <tr>
      <th scope="row">Waist</th>
      <td class="table-cell">35</td>
      <td class="table-cell">37</td>
      <td class="table-cell">39</td>
      <td class="table-cell">41</td>
      <td class="table-cell">43</td>
      <td class="table-cell">47</td>
      <td class="table-cell">49</td>
    </tr>
    <tr>
      <th scope="row">Hip</th>
      <td class="table-cell">40</td>
      <td class="table-cell">42</td>
      <td class="table-cell">44</td>
      <td class="table-cell">46</td>
      <td class="table-cell">48</td>
      <td class="table-cell">50</td>
      <td class="table-cell">52</td>
    </tr>
    <tr>
      <th scope="row">Shoulder</th>
      <td class="table-cell">14.5</td>
      <td class="table-cell">15</td>
      <td class="table-cell">15.5</td>
      <td class="table-cell">16</td>
      <td class="table-cell">16.5</td>
      <td class="table-cell">17.5</td>
      <td class="table-cell">18</td>
    </tr>
  </tbody>
   </table>
   </div> 
        
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
    	 <tr>
      <th scope="col">PAJAMA</th>
      <th scope="col" class="table-cell">XS</th>
      <th scope="col" class="table-cell">S</th>
      <th scope="col" class="table-cell">M</th>
      <th scope="col" class="table-cell">L</th>
      <th scope="col" class="table-cell">XL</th>
      <th scope="col" class="table-cell">XXL</th>
      <th scope="col" class="table-cell">XXXL</th>
    </tr>
   </thead> 
  <tbody>

    <tr>
      <th scope="row">Waist</th>
      <td class="table-cell">25.5</td>
      <td class="table-cell">27</td>
      <td class="table-cell">28.5</td>
      <td class="table-cell">30</td>
      <td class="table-cell">31.5</td>
      <td class="table-cell">33.5</td>
      <td class="table-cell">35</td>
    </tr>
    <tr>
      <th scope="row">Hip</th>
      <td class="table-cell">38</td>
      <td class="table-cell">40</td>
      <td class="table-cell">42</td>
      <td class="table-cell">44</td>
      <td class="table-cell">46</td>
      <td class="table-cell">49</td>
      <td class="table-cell">51</td>
    </tr>
   
  </tbody>
      </table>
   </div>  -->
         {% elsif product.type  == 'Lehenga'%}  
        <div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/lehengas_26bcde92-481d-412d-aea1-124ac9bb1a27.png?v=1670318314"></div>
      
      {% elsif product.type  == 'KIDS'or product.type == 'Kids'%}  
        <div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/Kids.png?v=1665141513"></div>
        
{% elsif product.type  == 'Men'or product.type == 'men'%}  
        <div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/men.jpg?v=1698146382"></div>
        {% elsif product.type  == 'Footwear'%}  
        <div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/size_chart_footwear_22_05_2024.jpg?v=1716388709"></div>
        
        {% elsif productTags contains "pre_stitched_saree"%}  
        <div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/IMG_9988_1.png?v=1716447336"></div>
    {% else %}
    
    <form method="post" action="/cart/add" accept-charset="UTF-8" enctype="multipart/form-data" class="sizechartmodaldesktop">
      <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
      <th scope="col">Select</th>
        {% for variant in product.variants %}
      <th scope="col" class="table-cell"><label class="container_Radio">
  <input class="variant-item" data-index="{{ forloop.index }}" type="radio"{% if variant.id == product.selected_or_first_available_variant.id %} checked="checked"{% endif %} name="id" value="{{ variant.id }}">
  <span class="checkmark"></span>
</label></th>
      {% endfor %}
    </tr>
        </thead>
{% if product.type == 'KURTA'or product.type == 'kurta' or product.type == 'Kurta'%}
    <thead>
      <tr>
      <th scope="col">KURTAS</th>
      <th scope="col" class="table-cell">XS</th>
      <th scope="col" class="table-cell">S</th>
      <th scope="col" class="table-cell">M</th>
      <th scope="col" class="table-cell">L</th>
      <th scope="col" class="table-cell">XL</th>
      <th scope="col" class="table-cell">XXL</th>
      <th scope="col" class="table-cell">XXXL</th>
    </tr>
   </thead> 
  <tbody>
    <tr>
      <th scope="row">UK</th>
      <td class="table-cell">8</td>
      <td class="table-cell">10</td>
      <td class="table-cell">12</td>
      <td class="table-cell">14</td>
      <td class="table-cell">16</td>
      <td class="table-cell">18</td>
      <td class="table-cell">20</td>
    </tr>
    <tr>
      <th scope="row">Bust</th>
      <td class="table-cell">37</td>
      <td class="table-cell">39</td>
      <td class="table-cell">41</td>
      <td class="table-cell">43</td>
      <td class="table-cell">45</td>
      <td class="table-cell">49</td>
      <td class="table-cell">51</td>
    </tr>
    <tr>
      <th scope="row">Waist</th>
      <td class="table-cell">35</td>
      <td class="table-cell">37</td>
      <td class="table-cell">39</td>
      <td class="table-cell">41</td>
      <td class="table-cell">43</td>
      <td class="table-cell">47</td>
      <td class="table-cell">49</td>
    </tr>
    <tr>
      <th scope="row">Hip</th>
      <td class="table-cell">40</td>
      <td class="table-cell">42</td>
      <td class="table-cell">44</td>
      <td class="table-cell">46</td>
      <td class="table-cell">48</td>
      <td class="table-cell">50</td>
      <td class="table-cell">52</td>
    </tr>
    <tr>
      <th scope="row">Shoulder</th>
      <td class="table-cell">14.5</td>
      <td class="table-cell">15</td>
      <td class="table-cell">15.5</td>
      <td class="table-cell">16</td>
      <td class="table-cell">16.5</td>
      <td class="table-cell">17.5</td>
      <td class="table-cell">18</td>
    </tr>
  </tbody>

       {% elsif product.type == 'Mens' %}
       <div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/WhatsApp_Image_2022-10-14_at_12.45.02_1.jpg?v=1665731941"></div>
      
 {% elsif product.type == 'Footwear' %}
       <div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/size_chart_footwear_22_05_2024.jpg?v=1716388709"></div>
      
   {% elsif product.type == 'PAJAMA' %}   
          <div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/pyajamas.png?v=1670318314"></div>

<!--       <thead>
          <tr>
      <th scope="col">PAJAMA</th>
      <th scope="col" class="table-cell">XS</th>
      <th scope="col" class="table-cell">S</th>
      <th scope="col" class="table-cell">M</th>
      <th scope="col" class="table-cell">L</th>
      <th scope="col" class="table-cell">XL</th>
      <th scope="col" class="table-cell">XXL</th>
      <th scope="col" class="table-cell">XXXL</th>
    </tr>
   </thead> 
  <tbody>

    <tr>
      <th scope="row">Waist</th>
      <td class="table-cell">25.5</td>
      <td class="table-cell">27</td>
      <td class="table-cell">28.5</td>
      <td class="table-cell">30</td>
      <td class="table-cell">31.5</td>
      <td class="table-cell">33.5</td>
      <td class="table-cell">35</td>
    </tr>
    <tr>
      <th scope="row">Hip</th>
      <td class="table-cell">38</td>
      <td class="table-cell">40</td>
      <td class="table-cell">42</td>
      <td class="table-cell">44</td>
      <td class="table-cell">46</td>
      <td class="table-cell">49</td>
      <td class="table-cell">51</td>
    </tr>
   
  </tbody> -->
{% endif %}
      
      
</table>
        

        
        

      </div> <input type="hidden" name="quantity" value="1">
<button type="submit" data-use-primary-button="false" class="button button--primary button--full modaldesktopaddtocart" ><span>Add to cart</span></button>    
    </form>

      
      <center><div id="size-form-successdesktop" style="display:none;color:green">ITEM ADDED</div></center>
  {% endif %}
      </div>
    </div>
  </drawer-content>

  {%- comment -%}Popover is for mobile{%- endcomment -%}
  <popover-content id="product-{{ section.id }}-{{ product.id }}-size-chart-popover" class="sizechartcustom popover hidden-lap-and-up">
    <span class="popover__overlay"></span>

    <header class="popover__header">
      <p class="popover__title heading h6"> Size Chart {% comment %}{{ size_chart_page.title }} {% endcomment %}</p>

      <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon' with 'close' -%}
      </button>
    </header>

    <div class="popover__content">
      <div class="rte">
       {% comment %} {{- size_chart_page.content -}} {% endcomment %}
        <!--                  {% if product.type  == 'Lehenga'%}  
        <div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/Lehengas.png?v=1665143016"></div>
            
        {% endif %} -->
        {% if product.type == 'KURTA SET' or product.type == 'KURTA SETS' or product.type == 'Kurta sets' or product.type == 'Kurta Sets'or product.type == 'Co-ord Set'or product.type == 'Dress' or product.type == 'Shirt' or product.type =='Top'or product.type == 'Kaftan' %} 
        <div>
<img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/1_cbcfabcd-ccf8-436b-8d16-6b98d565476b.jpg?v=1710570602">
          <img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/2_315bf334-a1a4-46dd-95df-0377c9053204.jpg?v=1710570602"> 
        </div>
<!--     <div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th scope="col">KURTAS</th>
<th scope="col" class="table-cell">XS</th>
<th scope="col" class="table-cell">S</th>
<th scope="col" class="table-cell">M</th>
<th scope="col" class="table-cell">L</th>
<th scope="col" class="table-cell">XL</th>
<th scope="col" class="table-cell">XXL</th>
<th scope="col" class="table-cell">XXXL</th>
</tr>
</thead> 
<tbody>
<tr>
<th scope="row">UK</th>
<td class="table-cell">8</td>
<td class="table-cell">10</td>
<td class="table-cell">12</td>
<td class="table-cell">14</td>
<td class="table-cell">16</td>
<td class="table-cell">18</td>
<td class="table-cell">20</td>
</tr>
<tr>
<th scope="row">Bust</th>
<td class="table-cell">37</td>
<td class="table-cell">39</td>
<td class="table-cell">41</td>
<td class="table-cell">43</td>
<td class="table-cell">45</td>
<td class="table-cell">49</td>
<td class="table-cell">51</td>
</tr>
<tr>
<th scope="row">Waist</th>
<td class="table-cell">35</td>
<td class="table-cell">37</td>
<td class="table-cell">39</td>
<td class="table-cell">41</td>
<td class="table-cell">43</td>
<td class="table-cell">47</td>
<td class="table-cell">49</td>
</tr>
<tr>
<th scope="row">Hip</th>
<td class="table-cell">40</td>
<td class="table-cell">42</td>
<td class="table-cell">44</td>
<td class="table-cell">46</td>
<td class="table-cell">48</td>
<td class="table-cell">50</td>
<td class="table-cell">52</td>
</tr>
<tr>
<th scope="row">Shoulder</th>
<td class="table-cell">14.5</td>
<td class="table-cell">15</td>
<td class="table-cell">15.5</td>
<td class="table-cell">16</td>
<td class="table-cell">16.5</td>
<td class="table-cell">17.5</td>
<td class="table-cell">18</td>
</tr>
</tbody>
</table>
</div> 

<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th scope="col">PAJAMA</th>
<th scope="col" class="table-cell">XS</th>
<th scope="col" class="table-cell">S</th>
<th scope="col" class="table-cell">M</th>
<th scope="col" class="table-cell">L</th>
<th scope="col" class="table-cell">XL</th>
<th scope="col" class="table-cell">XXL</th>
<th scope="col" class="table-cell">XXXL</th>
</tr>
</thead> 
<tbody>

<tr>
<th scope="row">Waist</th>
<td class="table-cell">25.5</td>
<td class="table-cell">27</td>
<td class="table-cell">28.5</td>
<td class="table-cell">30</td>
<td class="table-cell">31.5</td>
<td class="table-cell">33.5</td>
<td class="table-cell">35</td>
</tr>
<tr>
<th scope="row">Hip</th>
<td class="table-cell">38</td>
<td class="table-cell">40</td>
<td class="table-cell">42</td>
<td class="table-cell">44</td>
<td class="table-cell">46</td>
<td class="table-cell">49</td>
<td class="table-cell">51</td>
</tr>

</tbody>
</table>
</div>  -->

{% elsif product.type  == 'Lehenga'%}  
<div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/lehengas_26bcde92-481d-412d-aea1-124ac9bb1a27.png?v=1670318314"></div>

{% elsif product.type  == 'KIDS'or product.type == 'Kids'%}  
<div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/Copy_of_SIZE_CHART_1.jpg?v=1657603709"></div>

{% elsif product.type  == 'Men'or product.type == 'men'%}  
<div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/men.jpg?v=1698146382"></div>
{% elsif product.type == 'Footwear' %}
<div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/size_chart_footwear_22_05_2024.jpg?v=1716388709"></div>


{% elsif productTags contains "pre_stitched_saree"%}  
<div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/IMG_9988_1.png?v=1716447336"></div>
{% else %}

<form method="post" action="/cart/add" accept-charset="UTF-8" enctype="multipart/form-data" class="sizechartmodalmobile">
<div class="table-responsive">
<table class="table table-striped">
<thead>
<tr>
<th scope="col">Select</th>
{% for variant in product.variants %}
<th scope="col" class="table-cell"><label class="container_Radio">
<input class="variant-item" data-index="{{ forloop.index }}" type="radio"{% if variant.id == product.selected_or_first_available_variant.id %} checked="checked"{% endif %} name="id" value="{{ variant.id }}">
<span class="checkmark"></span>
</label></th>
{% endfor %}
</tr>
</thead>
{% if product.type == 'KURTA' or product.type == 'kurta' or product.type == 'Kurta'%}
<thead>
<tr>
<th scope="col">KURTAS</th>
<th scope="col" class="table-cell">XS</th>
<th scope="col" class="table-cell">S</th>
<th scope="col" class="table-cell">M</th>
<th scope="col" class="table-cell">L</th>
<th scope="col" class="table-cell">XL</th>
<th scope="col" class="table-cell">XXL</th>
<th scope="col" class="table-cell">XXXL</th>
</tr>
</thead> 
<tbody>
<tr>
<th scope="row">UK</th>
<td class="table-cell">8</td>
<td class="table-cell">10</td>
<td class="table-cell">12</td>
<td class="table-cell">14</td>
<td class="table-cell">16</td>
<td class="table-cell">18</td>
<td class="table-cell">20</td>
</tr>
<tr>
<th scope="row">Bust</th>
<td class="table-cell">37</td>
<td class="table-cell">39</td>
<td class="table-cell">41</td>
<td class="table-cell">43</td>
<td class="table-cell">45</td>
<td class="table-cell">49</td>
<td class="table-cell">51</td>
</tr>
<tr>
<th scope="row">Waist</th>
<td class="table-cell">35</td>
<td class="table-cell">37</td>
<td class="table-cell">39</td>
<td class="table-cell">41</td>
<td class="table-cell">43</td>
<td class="table-cell">47</td>
<td class="table-cell">49</td>
</tr>
<tr>
<th scope="row">Hip</th>
<td class="table-cell">40</td>
<td class="table-cell">42</td>
<td class="table-cell">44</td>
<td class="table-cell">46</td>
<td class="table-cell">48</td>
<td class="table-cell">50</td>
<td class="table-cell">52</td>
</tr>
<tr>
<th scope="row">Shoulder</th>
<td class="table-cell">14.5</td>
<td class="table-cell">15</td>
<td class="table-cell">15.5</td>
<td class="table-cell">16</td>
<td class="table-cell">16.5</td>
<td class="table-cell">17.5</td>
<td class="table-cell">18</td>
</tr>
</tbody>
{% elsif product.type == 'Mens' %}
<div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/WhatsApp_Image_2022-10-14_at_12.45.02_1.jpg?v=1665731941"></div>
{% elsif product.type == 'PAJAMA' %}   
<div><img style="margin:0px" src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/pyajamas.png?v=1670318314"></div>
<!--       <thead>
<tr>
<th scope="col">PAJAMA</th>
<th scope="col" class="table-cell">XS</th>
<th scope="col" class="table-cell">S</th>
<th scope="col" class="table-cell">M</th>
<th scope="col" class="table-cell">L</th>
<th scope="col" class="table-cell">XL</th>
<th scope="col" class="table-cell">XXL</th>
<th scope="col" class="table-cell">XXXL</th>
</tr>
</thead> 
<tbody>

<tr>
<th scope="row">Waist</th>
<td class="table-cell">25.5</td>
<td class="table-cell">27</td>
<td class="table-cell">28.5</td>
<td class="table-cell">30</td>
<td class="table-cell">31.5</td>
<td class="table-cell">33.5</td>
<td class="table-cell">35</td>
</tr>
<tr>
<th scope="row">Hip</th>
<td class="table-cell">38</td>
<td class="table-cell">40</td>
<td class="table-cell">42</td>
<td class="table-cell">44</td>
<td class="table-cell">46</td>
<td class="table-cell">49</td>
<td class="table-cell">51</td>
</tr>

</tbody> -->
{% endif %}


</table>





</div> <input type="hidden" name="quantity" value="1">
<button type="submit" data-use-primary-button="false" class="button button--primary button--full modalmobileaddtocart" ><span>Add to cart</span></button>    
</form>


<center><div id="size-form-successmobile" style="display:none;color:green">ITEM ADDED</div></center>
{% endif %}
      </div>
    </div>
  </popover-content>
{%- endif -%}
