{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
NOTE TO DEVELOPERS: welcome to Focal theme! We hope that you will enjoy editing this theme as much as we did for
  developing it. We have put a lot of work to make this theme as developer friendly as possible by offering you
  hooks to integrate into critical parts of the theme. You will find the complete technical documentation (including
  all events, dependencies...) in the "custom.js" file, located in the Assets folder.
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<!doctype html>

{%- assign direction = 'ltr' -%}
{%- case request.locale.iso_code -%}
  {%- when 'ar' or 'arc' or 'dv' or 'fa' or 'ha' or 'he' or 'kwh' or 'ks' or 'ku' or 'ps' or 'ur' or 'yi' -%}
    {%- assign direction = 'rtl' -%}
{%- endcase -%}

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.header_background }}">

    <title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% endif %}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}" type="image/png">
    {%- endif -%}

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">

    {%- unless settings.heading_font.system? and settings.text_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- comment -%}Preload important resources{%- endcomment -%}
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'vendor.js' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">

    {%- comment -%}
      IMPLEMENTATION NOTE: for improving performance, Focal tries to preload images on known pages (such as blog page,
      product or collection pages). In order to keep a main JS file size minimal, the theme also lazyloads non-essential
      libraries (such as PhotoSwipe or Flickity) and only loads them on demand.
    {%- endcomment -%}
    {%- if request.page_type == 'product' -%}
      {%- assign selected_media = product.selected_variant.featured_media | default: product.featured_media -%}

      <link rel="preload" as="fetch" href="{{ product.url }}.js" crossorigin>

      {%- if product.media.size > 1 -%}
        <link rel="preload" as="script" href="{{ 'flickity.js' | asset_url }}">
      {%- endif -%}
    {%- endif -%}

    {% render 'social-meta-tags' %}
    {% render 'microdata-schema' %}
    {% render 'css-variables', direction: direction %}
    {% render 'js-variables', direction: direction %}

    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">

    <script src="{{ 'vendor.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>


    {{ content_for_header }}

  </head>

  {%- assign feature_classes = '' -%}

  {%- if settings.show_image_zoom -%}
    {% assign feature_classes = feature_classes | append: ' features--image-zoom' %}
  {%- endif -%}

  <body class="no-focus-outline {{ feature_classes }}" data-instant-allow-query-string>
    {%- comment -%}Common SVG definitions that we are re-using in several places{%- endcomment -%}
    <svg class="visually-hidden">
      <linearGradient id="rating-star-gradient-half">
        <stop offset="50%" stop-color="rgb(var(--product-star-rating))" />
        <stop offset="50%" stop-color="rgb(var(--product-star-rating))" stop-opacity="0.4" />
      </linearGradient>
    </svg>

    <a href="#main" class="visually-hidden skip-to-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <loading-bar class="loading-bar"></loading-bar>

    {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
      {%- sections 'header-group' -%}
      {%- sections 'overlay-group' -%}

      {%- unless settings.cart_type == 'page' or request.page_type == 'cart' -%}
        {%- section 'mini-cart' -%}
      {%- endunless -%}
    {%- endif -%}

    <div id="main" role="main" class="anchor">
      {%- comment -%}
      IMPLEMENTATION NOTE: on collection and search page, the theme was designed to show on mobile the filter bar and/or sort
        by at the very top of the page. However, due to the fact that sections are isolated, I had to move the code
        here. Then, the collection section, based on the selected settings, will eventually hide those elements in CSS
      {%- endcomment -%}
      {%- if request.page_type == 'collection' or request.page_type == 'search' -%}
        {%- assign active_filters_count = 0 -%}

        {%- if request.page_type == 'collection' -%}
          {%- assign filters = collection.filters -%}
        {%- else -%}
          {%- assign filters = search.filters -%}
        {%- endif -%}

        {%- for filter in filters -%}
          {%- if filter.type == 'list' -%}
            {%- assign active_filters_count = active_filters_count | plus: filter.active_values.size -%}
          {%- elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value -%}
            {%- assign active_filters_count = active_filters_count | plus: 1 -%}
          {%- endif -%}
        {%- endfor -%}

        {%- assign is_toolbar_collapsed = false -%}

        {%- if request.page_type == 'search' and search.results.first.object_type != 'product' and search.results_count > 0 -%}
          {%- assign is_toolbar_collapsed = true -%}
        {%- endif -%}

        <div id="mobile-facet-toolbar" class="mobile-toolbar {% if is_toolbar_collapsed %}is-collapsed{% endif %} hidden-lap-and-up">
          <button is="toggle-button" class="mobile-toolbar__item mobile-toolbar__item--filters {% if active_filters_count > 0 %}has-filters{% endif %}" aria-expanded="false" aria-controls="facet-filters" style="display: none">
            {%- render 'icon' with 'filters' -%}
            <span class="mobile-toolbar__item-label">{{- 'collection.general.filters' | t -}}</span>
          </button>

          <button is="toggle-button" class="mobile-toolbar__item mobile-toolbar__item--sort" aria-expanded="false" aria-controls="sort-by-popover" style="display: none">
            <span class="mobile-toolbar__item-label">{{- 'collection.general.sort_by' | t -}}</span>
            {%- render 'icon' with 'chevron' -%}
          </button>
        </div>
      {%- endif -%}
      
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var sessionuserip = sessionStorage.getItem("usersaveip");
          var userapi;
      
          if (sessionuserip) {
              userapi = sessionuserip;
              checkAndRemove(userapi);
          } else {
              fetch("https://api.ipdata.co?api-key=24eb2297a21c5fdf0083ba97c85db403fa12642b5b8d677093473af3")
                  .then(response => response.json())
                  .then(data => {
                      userapi = data.ip;
                      sessionStorage.setItem("usersaveip", userapi);
                      checkAndRemove(userapi);
                  })
                  .catch(error => {
                      console.error('Error fetching IP data:', error);
                  });
          }
      
          function checkAndRemove(userapi) {
              var fakeuserapi = ["152.58.90.219","122.176.188.67","203.76.188.141","223.178.213.136","5.62.60.202","42.105.78.200","106.194.112.235","223.178.211.59","223.238.195.125","122.173.122.212","45.249.87.135","152.59.109.45",
      "223.178.209.216","203.76.188.141","103.200.86.32","122.173.24.87","103.200.86.32","103.87.56.254","103.15.254.70","223.178.209.216","223.178.209.216","103.200.86.32","106.196.68.189","103.15.254.70","171.78.212.243","103.87.56.254","223.178.209.216","152.58.125.66","49.36.80.85","5.62.60.202","122.173.122.128","152.59.91.249","49.36.237.47","152.58.74.89","42.105.214.207","152.58.35.214","103.87.56.90","223.178.212.87","103.15.254.70","42.109.204.11","223.123.7.89","117.235.9.23","180.94.34.108","103.87.56.12","103.87.56.12","203.76.188.237","103.200.86.75","203.76.188.237","103.200.86.75","180.94.34.108","103.87.56.12","203.76.188.237","171.78.212.243","203.76.188.237","157.38.132.180","203.76.188.237","180.94.34.108","103.200.86.75","103.200.86.75","42.109.207.104","122.168.175.16","103.87.56.24","223.178.208.50","122.168.47.58","42.105.245.83","162.12.247.39","162.12.247.39","180.94.34.64","152.58.92.23","223.226.129.183","171.78.212.243","49.42.69.203","122.177.96.131","103.15.254.103","180.94.34.90","117.99.107.177","42.108.30.94","110.226.178.41","180.94.34.90","152.59.92.15","45.249.87.157","103.211.52.124","59.95.158.15","117.99.107.177","223.233.77.29","49.43.3.39","180.94.34.50","152.59.92.11","152.59.92.11","45.249.87.157","45.249.87.157","45.249.87.157","103.211.52.101","103.211.52.101","103.211.52.101","122.161.240.99","223.178.209.191","103.217.123.79","180.94.34.74","122.179.120.206","180.94.34.74","117.99.107.177","119.42.57.181","103.87.56.168","223.178.209.191","106.205.155.46","171.61.30.223","84.197.155.128","84.197.155.128","45.249.87.157","49.204.196.216","59.178.85.133","223.228.227.116","106.221.234.122","106.221.234.122","106.221.234.122","152.58.120.95","106.221.231.155","106.221.231.155","103.158.94.22","103.87.56.168","103.158.94.22","103.217.123.79","152.58.120.19","49.36.221.61","49.36.90.93","119.42.57.181","103.87.56.168","103.87.56.168","119.42.57.181","49.42.91.248","103.87.56.168","119.42.57.181","119.42.57.181","49.36.89.37","119.42.57.181","119.42.57.181","223.178.210.214","49.36.89.37","152.59.109.234","152.59.109.101","122.161.75.177","103.59.206.120","119.42.57.181","119.42.57.181","103.90.73.209","103.81.182.68","119.156.228.28","223.226.44.65","223.233.76.44","106.76.95.74","202.179.69.10","103.133.123.130","103.133.123.130","103.133.123.130","49.36.220.224","152.59.108.70","103.133.123.130","152.58.92.34","103.211.52.92","152.58.71.150","103.133.123.130","119.42.57.181","119.42.57.181","103.133.123.130","103.133.123.130","119.42.57.181","103.87.56.81","119.42.57.181","103.87.56.81","103.15.255.1","103.133.123.130","223.178.211.240","103.133.123.130","223.178.211.240","223.178.211.240","49.36.237.158","119.42.57.181","119.42.57.181","119.42.57.181","223.233.72.37","223.239.24.157","61.4.76.89","106.206.186.211","152.58.120.233","152.58.120.66","152.59.91.142","223.188.252.79","223.187.107.193","152.58.124.111","103.216.90.185","157.38.138.132","152.58.93.253","103.216.90.185","223.178.211.240","223.178.211.240","117.98.22.9","152.58.124.147","152.58.123.218","103.211.52.21","103.216.90.185","152.58.124.166","152.59.68.68","103.87.56.81","103.133.123.130","223.178.211.240","152.58.125.194","152.58.124.90","180.94.34.92","119.42.57.181","223.178.211.240","180.94.34.92","103.216.90.185","157.41.248.172","103.83.128.132","103.83.128.132","103.83.128.104","103.83.128.132","171.50.188.72","152.58.87.200","152.58.122.192","119.42.57.181","103.15.255.14","103.15.255.14","103.87.56.81","117.97.203.159","103.15.255.14","223.236.112.4","103.211.52.43","103.211.52.43","106.221.232.214","119.42.57.181","119.42.57.181","152.59.195.43","119.42.57.181","119.42.57.181","119.42.57.181","119.42.57.181","42.105.214.43","119.42.57.181","49.43.176.192","119.42.57.181","152.58.78.216","119.42.57.181","152.58.123.180","119.42.57.181","119.42.57.181","119.42.57.181","119.42.57.181","119.42.57.181","119.42.57.181","157.37.165.51","103.158.94.87","119.42.57.181","119.42.57.181","117.210.223.143","119.42.57.181","103.215.166.57","119.42.57.181","106.211.41.48","119.42.57.181","49.36.89.25","106.208.154.174","103.211.52.94","49.36.89.25","103.211.52.94","103.211.52.94","103.211.52.94","49.36.89.25","49.37.170.66","49.36.181.144","106.214.119.124","106.214.119.124","106.214.119.124","106.214.119.124","103.211.52.60","104.28.37.58","103.100.20.119","103.211.52.60","49.36.91.39","106.215.91.73","103.248.173.133","106.215.91.73","152.58.74.124","117.207.189.147","110.226.160.151","103.167.195.122","122.167.89.96","27.58.127.192","106.204.230.75","157.38.43.3","202.142.104.91","103.15.255.6","202.142.104.91","103.15.255.6","103.87.56.171","223.178.209.216","103.15.255.6","152.58.91.119","223.178.209.216","106.217.104.137","152.58.93.236","152.58.93.236","49.43.131.98","223.178.209.102","223.178.209.216","103.15.254.70","103.87.56.171","49.43.131.98","223.178.209.102","103.87.59.134","223.178.209.102","103.198.173.108","152.59.88.120","5.62.62.194","117.235.5.116","49.47.130.197","49.43.131.98","223.239.123.248","49.43.131.44","117.235.5.116","223.188.248.130","117.235.5.116","171.78.212.243","103.59.75.200","59.183.42.155","152.58.74.224","103.24.135.89","103.87.59.35","103.87.56.213","223.178.209.10","223.178.209.216","223.178.209.216","103.87.56.254","49.43.131.98","103.167.195.122","157.32.236.146","45.249.87.135","45.249.87.135","202.142.114.69","202.142.114.223","202.142.114.223","202.142.114.69","202.142.114.223","182.64.140.71","152.59.87.76","152.58.67.96","152.58.101.185","152.58.101.185","103.87.56.21","152.58.35.142","157.37.170.139","180.94.34.207","5.62.62.195","49.36.88.214","49.43.162.23","152.58.98.179","106.196.58.181","180.94.34.207","202.142.104.137","180.94.34.128","49.43.160.115","45.249.87.135","103.15.254.70","152.59.86.52","103.87.56.13","152.58.100.0","5.62.60.203","122.173.25.193","103.87.56.143","49.43.131.98","103.15.254.255","171.79.184.116","106.196.52.182","103.15.254.70","103.15.254.255","49.43.131.98","223.178.209.216","106.196.56.72","103.167.195.178","27.58.127.192","49.43.131.248","42.108.27.213","223.178.209.216","103.59.75.148","103.200.86.90","103.87.56.208","45.249.86.57","49.43.128.124","103.200.86.90","49.43.128.124","103.87.56.163","223.177.35.211","103.87.56.163","106.221.134.181","157.32.236.146","103.87.56.163","103.15.254.70","103.167.195.122","103.87.56.163","223.182.67.249","49.43.128.124","103.167.195.122","119.42.159.166","122.167.89.96"]';
              var fakeuserapiarray = JSON.parse(fakeuserapi);
      
              fakeuserapiarray.forEach(function(value) {
                  if (userapi === value) {
                      document.body.remove();
                      return;
                  }
              });
          }
      });
      
      </script>

      <style>
        .modal-content {
      position: relative;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #999;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: 6px;
      outline: 0;
      -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
      box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  }
        #RedirectionModal {
      visibility: visible;pointer-events: none;
  }
        
        @media (min-width: 768px) {
  #RedirectionPopup .modal-content {
      -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
      box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  }
        }
        
    #RedirectionPopup .modal {
      display: none;
      position: fixed;
      z-index: 9;
      padding-top: 0px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: black;
      background-color: rgba(0, 0, 0, 0.4);transform: none;
    }
    #RedirectionPopup .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 0px;
      border: 1px solid #888;
      width: 100%;
      top: 0px;
      max-width:100%;pointer-events: all;
    }
    #RedirectionPopup .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    #RedirectionPopup .close:hover, #RedirectionPopup .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  
    .Label{
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;height:50%;
    }
    .Search__Results .Label{
      display:none
    }
        @media (min-width:769px) { 
    #RedirectionPopup .onlymobileredirection {
      display: none;
  }
  }
   @media (max-width:768px) {  
   #RedirectionPopup .onlydesktopredirection {
      display: none;
  }
   }
  </style>
     
   <div id="RedirectionPopup">
     
     <center id="RedirectionModal" class="modal">
  
    <!-- Modal content -->
    <div class="modal-content">
      
      <div></div>
    </div>
  
  </center>
  
     
     
      </div>

      <script>
        // Function to parse cookies into an object
        function parseCookies() {
          return document.cookie.split(';').reduce((accumulator, cookie) => {
            const [key, value] = cookie.split('=').map(item => item.trim());
            accumulator[key] = decodeURIComponent(value);
            return accumulator;
          }, {});
        }
      
        // Function to hide prices and other elements based on CSS rules
        function hideElements() {
          const css = `
            .ProductItem__PriceList, #crt-price, span.money.conversion-bear-money, 
            .ProductMeta__Price, .ProductForm__AddToCart, .shopify-payment-button, 
            .sticky, p.AnnouncementBar__Content.Heading { display: none !important; }
          `;
          const style = document.createElement('style');
          style.appendChild(document.createTextNode(css));
          document.head.appendChild(style);
        }
      
        // Function to handle redirection based on country
        function handleRedirection(countryCode) {
          const redirectionModal = document.getElementById("RedirectionModal");
          redirectionModal.style.display = "block";
          document.body.style.pointerEvents = 'none'; // Disables pointer events on body
      
          let redirectionUrl = '';
          switch (countryCode) {
            case "AE":
              redirectionUrl = "https://mulmul.ae/";
              break;
            case "US":
            case "CA":
              redirectionUrl = "https://mulmul.co/";
              break;
            case "GB":
            case "DK":
              redirectionUrl = "https://mulmul.uk/";
              break;
            case "MY":
            case "TH":
            case "HK":
            case "AU":
            case "SG":
              redirectionUrl = "https://mulmulworld.com/";
              break;
            default:
              // Default redirection or handling
              redirectionUrl = "https://example.com/"; // Example URL for default
              break;
          }
      
          // Update modal content with redirection link
          const modalContent = document.getElementById('RedirectionModalContent');
          modalContent.innerHTML = `<a href="${redirectionUrl}">
            <img src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/desk-redirection.jpg?v=1716021054" class="onlydesktopredirection">
            <img src="https://cdn.shopify.com/s/files/1/0088/4031/4931/files/mob-redirection.jpg?v=1716021054" class="onlymobileredirection">
          </a>`;
      
          // Hide prices and other elements
          hideElements();
        }
      
        // Main function to determine country and initiate redirection
        function main() {
          const cookies = parseCookies();
          if ('user_country' in cookies) {
            handleRedirection(cookies.user_country);
          } else {
            // Make API call to get country information based on IP
            const apiKey = '24eb2297a21c5fdf0083ba97c85db403fa12642b5b8d677093473af3';
            const apiUrl = `https://api.ipdata.co?api-key=${apiKey}`;
            
            fetch(apiUrl)
              .then(response => response.json())
              .then(data => {
                const countryCode = data.country_code;
                const countryFullName = data.country_name;
      
                // Set cookies for country information
                document.cookie = `user_country=${countryCode}`;
                document.cookie = `user_country_fullName=${countryFullName}`;
      
                // Handle redirection based on country
                handleRedirection(countryCode);
              })
              .catch(error => {
                console.error('Error fetching IP data:', error);
                // Handle error case or default redirection
                handleRedirection('default');
              });
          }
        }
      
        // Execute main function when DOM is fully loaded
        document.addEventListener('DOMContentLoaded', main);
      </script>
      
      {% render 'whatsapp-redirection' %}

      {{ content_for_layout }}
     
    </div>
   

    {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
      {%- sections 'footer-group' -%}
    {%- endif -%}
  </body>
</html>