<style>
    @media only screen and (min-width: 1000px){
      h3.heading.h2.givingback::before, h3.heading.h2.givingback::after{
                            display: inline-block;
                            content: "";
                            width: 25%;
                            border-top: .3rem solid black;
                            margin: -5px 1rem;
                            transform: translateY(-1rem);
      } }
      .givingbacksectiontwo {
        margin: 30px auto;
    }
      p.givingbck_inner_content {
        padding: 0 25px;
        text-align: center;
        letter-spacing: 0.8px;
    }
      .givingback_mainbannersec {
        width: 95%;
        margin: 35px auto;
    }
      .givingbck_main_content {
        display: flex;
        justify-content: center;
        gap: 30px;
                            padding: 17px;
    }
      .givingbck_img_main_cont {
        width: 30%;
    }
      .givingbck_content_main_cont {
        width: 65%;
    }
      .igvimgmain {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 25px;
                        }
      .givingbck_img_main_cont_inn {
        flex: 0 0 45%;
    }
      p.givbck_mn_inn_txt {
        font-size: 16px;
        letter-spacing: 0.8px;
    }
    @media only screen and (max-width: 768px){
      p.givingbck_inner_content {
        padding: 0;
        text-align: justify;
    }
      .givingback_mainbannersec {
        width: 100%;
      }
      .givingbck_main_content {
                            display: flex;
                            justify-content: center;
                            gap: 30px;
                            padding: 17px;
                            flex-wrap: wrap;
                            flex-direction: column-reverse;
                        }
      .givingbck_img_main_cont {
                            flex: 0 0 100%;
        width: 100%;
                        }
      .givingbck_content_main_cont {
                            flex: 0 0 100%;
        width: 100%;
                        }
      .igvimgmain {
                            display: flex;
                            flex-wrap: nowrap;
                            gap: 10px;
                        }
    }
    </style>
    <div class="container">
    <div class="givingbacksectiontwo" id="btndesc_{{ forloop.index }}">
      <h3 class="heading h2 givingback" style="text-align: center;margin-bottom: 25px;">{{ section.settings.heading | escape }}</h3>
      <div class="givingbckmain">
        <div class="givingbck_content">
          <p class="givingbck_inner_content">{{ section.settings.headingbelowtext }}</p>
        </div>
        <div class="givingback_mainbannersec">
          <img src="{{ section.settings.image | img_url : 'master' }}" style="width: 100%;">
        </div>
        <div class="givingbck_main_content">
          <div class="givingbck_img_main_cont">
            <div class="igvimgmain">
            {% for block in section.blocks %}
              <div class="givingbck_img_main_cont_inn">
              <img src="{{ block.settings.imageblock | img_url : 'master' }}"></div>
            {% endfor %}
          </div></div>
          <div class="givingbck_content_main_cont">
            {% if  section.settings.maincontentheading != blank  %}
            <h3 class="article-item__title heading h4">{{ section.settings.maincontentheading }}</h3>{% endif %}
            <p class="givbck_mn_inn_txt">{{ section.settings.maincontent }}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <script>
      $(document).ready(function(){
      $('.cstmbtninner').click(function(){
        var dataid = $(this).attr('dataid');console.log(dataid);
         $('html, body').animate({
        //     scrollTop: $('#'+dataid).offset().top - 160 
         }, 'slow');
      });
    });  
    </script>
    {% schema %}
      {
        "name": "Givingback Section Two",
        "settings": [],
        "blocks": [
        {
          "type": "text",
          "name": "text field",
          "settings": [ 
            {
            "type": "text",
            "id": "heading",
            "label":"Heading"
          },
          {
            "type": "html",
            "id": "headingbelowtext",
            "label":"Heading Below text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label":"Main Banner"
          },
          {
            "type": "text",
            "id": "maincontentheading",
            "label":"Below Heading"
          },
           {
            "type": "html",
            "id": "maincontent",
            "label":"Below Content"
          },
            {
            "type": "image_picker",
            "id": "imageblock1",
            "label":"Image Block1"
          }   
          ]}
    ],  
        "presets": [
        {
          "category": "image",
          "name": "Givingback Section Two",
          "settings": {}
        }
      ]
      }
    {% endschema %}
    
    